[submodule "package/luci-app-openclash"]
	path = package/luci-app-openclash
	url = git@github.com:vernesong/OpenClash.git
	branch = master
[submodule "package/luci-theme-argon"]
	path = package/luci-theme-argon
	url = https://github.com/jerrykuku/luci-theme-argon.git
	branch = master
[submodule "package/luci-app-argon-config"]
	path = package/luci-app-argon-config
	url = https://github.com/jerrykuku/luci-app-argon-config.git
	branch = master
[submodule "package/luci-app-poweroffdevice"]
	path = package/luci-app-poweroffdevice
	url = https://github.com/sirpdboy/luci-app-poweroffdevice.git
	branch = js
